{% extends "layout.html" %}

{% block title %}Aqua Track: Water Quality Monitoring System - WQI Map{% endblock %}

{% block content %}
        <div class="row">
            <div class="col-12">
                <div class="alert alert-secondary">
                    Click anywhere on the map to request WQI for the nearest stored location.
                </div>
            </div>
            <div class="col-12">
                <div id="map" class="shadow-sm rounded map-box"></div>
            </div>
        </div>
{% endblock %}

{% block extra_js %}
    <script>
        window.GOOGLE_MAPS_API_KEY = "{{ google_maps_key or '' }}";
    </script>
    <script src="{{ url_for('static', filename='map.js') }}"></script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key={{ google_maps_key }}&callback=initMap"></script>
{% endblock %}
